.books-header {

    border-bottom: 0.1px solid lightgray;
    margin-bottom: 1rem;
    /* margin-left: 7.8rem; */
}

.books_title-header {
    font-family: "Merriweather";
}

.bookshelves {
    /* margin-top: 1rem; */
    /* margin-left: 8.3rem; */
}

.listing {
    margin-left: 1px;
}

.books-link {
    background: none;
    border: none;
}

.books-link:hover {
    text-decoration: underline;
}

.table_header {
    font-family: cursive;
    font-size: 20px;
}

.table__title {
    width: 11rem;
}

.rating {
    color: #F5A623;
}

.image-listing {
    width: 50px;
}

.table thead th {
    border-bottom: none !important;
    border-top: none !important;
}

.paging {
    margin-left: 17rem;
}

.book-details-block {
    margin-top: 4rem;
    margin-left: 12.1rem !important;
}

.book-img {
    /* width: 291px; */
    width: 211px;
}

.desc-block {
    margin-left: -46px;
}

.book-details-dropdwn {
    width: 194px;
    margin-top: 11px;
    margin-left: 9px;
}

.bookTitle {
    font-weight: 700;
    font-family: "Merriweather";
}

.avgRate {
    margin-left: 10px;

}

.rate-header {
    margin-left: 52px;
}

.book-details-stars {
    margin-left: 3.5rem;
    color: lightgray;
}

/*--------------------*/
/*login*/
.login-cont{
    width: 50% !important;
    justify-self: center !important;
    /* margin-left: 5rem !important ; */
}
.container{
    display: flex;
    justify-items: center !important;
    align-self: center !important;
    
}
.avatar{
    
    height: 2.5rem;
    background-color: #282c34;
    border: 1px solid green;
    border-radius: 50%;
  }
  .log-btn{
  width: 5rem;
  justify-self: center !important;
  background-color: #61dafb;
  color: black;
  border-bottom-left-radius: 20%;
  border-top-right-radius: 20%;
  
  }
  .log-btn:hover{
  background-color: pink;
  }
  