body {
    /* background-color: #f8faff !important; */
    background: transparent !important;
    overflow-x: hidden;
}

.navbar {
    /* background-color: #C09F80; */
    padding: 30px !important;

}

.Nav-title {
    font-family: 'Raleway', sans-serif;
    color: #76323F !important;
    font-weight: 500 !important;
    font-size: 20px !important
}

.navbar a:hover {
    /* color: #D7CEC7  !important; */
    color: #DCC7AA !important
}

a {
    color: #404044 !important;
}

.card-container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.card-item {
    position: absolute;
    /* margin-right: 27px; */
    overflow: hidden;
    text-align: center;
    /* transition: 0.3s all 0s ease-in-out; */
    border: 0 !important;
    background-color: transparent !important;

}



.card-item:hover {
    /* margin-top: -5px; */
    /* transition: 0.3s all 0s ease-in-out; */
}

.link-btn {
    /* background-color: #FC6377; */
    /* border-radius: 50px; */
    /* padding: 8px 50px 8px 50px; */
    /* width: 50px !important; */
    /* font-size: 18px; */
    /* color: white; */
}

/* Category */
.cat-btn {
    background-color: #c09f80;
    border-radius: 50px;
    padding: 10px 50px 10px 50px;
    width: 250px !important;
    font-size: 18px;
    color: white !important;
    margin: 22px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    text-decoration: none !important;
}

.cat-btn:hover {
    background-color: #af957c;
}

.cat-header {
    background-image: url(https://i.pinimg.com/564x/c1/a9/3d/c1a93d35aa2691440f55de964684149a.jpg);
    width: 100%;
    background-size: cover 100% 100%;
    height: 605px;
    text-align: center;
    color: #c09f80;
}

.cat-header-text {
    font-size: 100px;
    padding-top: 200px;
}

.books-header {
    border-bottom: 0.1px solid lightgray;
    margin-bottom: 1rem;
    /* margin-left: 7.8rem; */
}

.books_title-header {
    font-weight: 700;
    color: #76323F;
    font-family: 'Indie Flower', cursive;
}

.bookshelves {
    background: beige;
    /* margin-left: 8.3rem; */
}

.bookshelves-title {
    font-family: "Raleway", sans-serif;
    font-weight: 509;
    font-size: 17px;
    color: #76323f;
    margin-top: 9px;
    margin-bottom: 10px;
}

.listing {
    margin-left: 1px;
}

.books-link {
    background: none;
    border: none;
    outline: none;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    /* font-size: 17px; */
    color: #76323f;
}

.books-link:hover {
    outline: none;
    text-decoration: underline;
}

.table_header {
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #76323f !important;
}

.myBook-bokTitle {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #76323f !important;
}

.table__title {
    width: 11rem;
}

.rating {
    color: #f5a623;
    font-size: 10px;
}

.drobDWON {
    background: #c09f80 !important;
    border-color: #c09f80 !important;
    font-size: 13px !important;
}

.btn-success:focus {
    box-shadow: 0 0 0 0.2rem #c09f80 !important;
}

.image-listing {
    width: 50px;
}

.table thead th {
    border-bottom: none !important;
    border-top: none !important;
}

.paging {
    margin-left: 17rem;
}

.page-item.active .page-link {
    background: #c09f80 !important;
    border-color: #c09f80 !important;
}

.book-details-block {
    margin-top: 4rem;
    margin-left: 12.1rem !important;
}

.book-img {
    /* width: 291px; */
    width: 211px;
}

.book-category {
    margin-right: 31px;
    color: #c09f80 !important;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
}

.book-details-dropdwn {
    width: 194px;
    margin-top: 11px;
    margin-left: 14px;
}

.bookTitle {
    font-weight: 800;
    font-family: "Raleway", sans-serif;
    color: #76323f !important;
}

.author-name {
    color: #76323f !important;
}

.avgRate {
    margin-left: 10px;
}

.rate-header {
    margin-left: 72px;
    margin-top: 10px;
    color: #76323f;
    font-family: "Raleway", sans-serif;
}

.book-details-stars {
    margin-left: 89px;
    color: lightgray;
    font-size: 11px;
}

/*--------------------*/
/*login*/
.login-cont {

    background-image: url("../assets/images/90.jpg");
    background-position: center;
}

.login-container {
    background-color: #d7ced7 !important;
}

.avatar {
    height: 2.5rem;
    background-color: #282c34;
    border: 1px solid #76323F;
    border-radius: 50%;
}

.log-btn {
    width: 5rem;
    justify-self: center !important;
    background-color: #76323f !important;
    color: #DCC7AA !important;

}

.log-btn:hover {
    background-color: #565656 !important;

}

.signUpLink {
    color: #76323f !important;
    font-size: 12px;
    font-family: 'Raleway', sans-serif;
    position: absolute;
    bottom: 47px;
    right: 73px;

}

/*signup*/
/* .btn-sign {
    background-color: #fc6377; */

/* width:50%; */
/* } */

.sign-cont {
    border: solid 1px #76323F !important;
    border-radius: 10% !important;
    font-family: 'Raleway', sans-serif;
    color: #76323F !important;
    font-weight: 700 !important;
    font-size: 20px !important;
    background-color: #DCC7AA;
}

.btn-secondary {
    background-color: #76323F !important;
    color: #DCC7AA !important;
}

.nav-login {
    /* background-color: #76323F !important; */
    color: #76323F !important;
    font-family: 'Raleway', sans-serif;
    font-size: 15px !important;
    border-bottom: 1px dashed #76323F !important;

    /* padding:0.05rem; */


}

.nav-login:hover {

    color: #565656 !important;

}

.search-cont {
    position: relative;
    top: -0.5rem;
}

.pop-title,
.no-result {
    color: #76323F !important;
    font-weight: 700 !important;
    font-size: 25px !important;
    font-family: 'Raleway', sans-serif;
    margin-right: 10rem;
    margin-left: 12rem;
}

.searchbar {
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: #353b48;
    border-radius: 30px;
    padding: 10px;
}

.search_input {
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color: transparent;
    line-height: 40px;
    transition: width 0.4s linear;
    background-color: #c09f80 !important;
    border-radius: 30px;
}

.searchbar:hover>.search_input {
    padding: 0 10px;
    width: 250px;
    caret-color: #76323F !important;
    transition: width 0.4s linear;

}

.searchbar:hover>.search_icon {
    background: white;
    color: #76323F !important;
}

.search_icon {
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white !important;
    position: relative;
}

/* .sch-result {
    
    background: white;
    border: 1px solid #80b6e1;
    padding: 4px;
   
    width: 10rem;
    
} */
.popular {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;

}

/***********/
.author-bio {
    margin-left: 5.1rem !important;
}

.author-web {
    margin-left: 4rem !important;
}

.book_title {
    margin-left: 1rem;
    position: absolute;
}

.book_author {
    position: absolute;
    top: 2rem;
    left: 5rem;
}

.author_rating {
    position: absolute;
    top: 3.5rem;
    left: 1.4rem;
}

.book_avg {
    /* position: absolute;
    left: 11rem;
    top: 3.5rem; */
    /* text-align: center; */
}

.author_drodwn {
    position: absolute;
    top: -4.1rem;
    left: 18rem;
}

.author-details-bok-title {
    font-size: 20px;
    font-weight: 600;
    font-family: "Raleway", sans-serif;
    color: #76323f !important;
}

.author-details-author-title {
    font-size: 16px;
    font-family: "Raleway", sans-serif;
    color: #76323f !important;
}

.author-details-book-rating {
    margin-left: 3px;
}

.author-details-book-AVGrating {
    position: absolute;
    margin-left: 12px;
}

.title {
    font-family: "Raleway", sans-serif;
    color: #76323f !important;
}

.bio {
    margin-top: 10px;
    font-family: "Raleway", sans-serif;
}

.tdFlex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.reviews-header {
    font-size: 14px;
    /* font-family: 'Indie Flower', cursive; */
    font-family: "Raleway", sans-serif;
    color: #76323f;
    font-weight: 700;
    margin-top: 38px;
    border-bottom: 1px solid lightgrey;
    margin-bottom: 20px;
}

.reader-name {
    font-size: 14px;
    font-family: "Indie Flower", cursive;
    position: absolute;
    left: 82px;
}

.reader-rate {
    margin-left: -58px;
    margin-top: 0px;
    margin-right: 10px;
}

.authors-list {
    margin-top: 16px;
}

/* author card */
.card-team-section {
    margin-top: 50px;
}

.card-team {
    width: 15rem;
    height: 25rem;
    background-color: #ffffff;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    margin-bottom: 3rem;
    position: relative;
    transition: all 0.3s ease-out 0s;
    -webkit-box-shadow: 0 0px 20px rgba(0, 0, 0, 0.14);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.14);
}

.card-team:hover {
    -ms-transform: translate(0, -10px);
    /* IE 9 */
    -webkit-transform: translate(0, -10px);
    /* Safari */
    transform: translate(0, -10px);
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.14);
}


.card-team:hover img {
    -ms-transform: scale(1.25);
    /* IE 9 */
    -webkit-transform: scale(1.25);
    /* Safari 3-8 */
    transform: scale(1.25);
}

.card-team__body {
    position: relative;
    overflow: hidden;
}

.card-team__body img {
    /* width: 210px; */
    width: 100%;
    height: 300px;
    transition: all 0.3s ease-out 0s;
    text-align: center;
}

.card-team__footer {
    width: 100%;
    background-color: #ffffff;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    line-height: 23px;
}

.card-team__footer .footer__title {
    color: #191919;
}